extend dashboard

block dashBody
	div(class= "well well-sm col-md-4")
		div(class="list-group")

				a(href="#edit_profile",data-toggle="tab",class="list-group-item active") Edit Profile
					span(class="glyphicon glyphicon-edit pull-right")

				a(href="#uploadPic",data-toggle="tab",class="list-group-item") Upload pic or video
					span(class="glyphicon glyphicon-upload pull-right")

	div(class="panel panel-info col-md-8 tab-content")

		//profile form page ----
		div#edit_profile(class= "tab-pane active")
			form(role="form",class="form-horizontal",method="POST",action="/edit_profile")
				fieldset
					legend
						span(class="glyphicon glyphicon-ok col-md-offset-1") Required

					div.form-group
						label(for="#firstName",class="control-label col-md-3") First Name
						div.col-md-9
							input#firstName(type="text",name="firstName",class="form-control",placeholder="First Name",value="#{user.firstName}")

					div.form-group
						label(for="#lastName",class="control-label col-md-3") Last Name
						div.col-md-9
							input#lastName(type="text",name="lastName",class="form-control",placeholder="Last Name",value="#{user.lastName}")

					div.form-group
						label(for="#gender",class="control-label col-md-3") Gender
						div.col-md-4
							select#gender(class="form-control",name="gender")
								option(value="") ----
								option(value="Male") Male
								option(value="Female") Female
								option(value="Other") Other
						button(type="button",class="btn  btn-xs btn-info",data-toggle="tooltip" title="This is only shared when you are signing rental agreement.") PRIVATE

					div.form-group(id="datapickerfield")
						label(for="#birthday",class="control-label col-md-3") Birth Date
						div.col-md-5
							input#birthday(type="text",class="form-control",name="birthday",placeholder="Pick a date",value="#{user.birthday}")
						button(type="button",class="btn  btn-xs btn-info",data-toggle="tooltip" title="This is only shared when you are signing rental agreement.") PRIVATE

					div.form-group
						label(for="#email",class="control-label col-md-3") Email
						div(class="col-md-7 input-group")
							span.input-group-addon @
							input#email(type="email",name="email",class="form-control ",placeholder="email",value="#{user.email}")
						button(type="button",class="btn  btn-xs btn-info",data-toggle="tooltip" title="This is only shared when you are signing rental agreement.") PRIVATE

					div.form-group
						label(for="#phone",class="control-label col-md-3") Phone
						div.col-md-6
							input#phone(type="tel",name="phone",class="form-control",placeholder="phone #.",value="#{user.phone}")
						button(type="button",class="btn  btn-xs btn-info",data-toggle="tooltip" title="This is only shared when you are signing rental agreement.") PRIVATE

					div.form-group
						label(for="#address",class="control-label col-md-3") Address
						div.col-md-9
							input#address(type="text",name="address",class="form-control",placeholder="where do you live",value="#{user.address}")

					div.form-group
						label(for="#describe",class="control-label col-md-3") Describe yourself
						div.col-md-9
							textarea#describe(name="description",class="form-control",rows="5")  #{user.description}

				div
					button(class="btn btn-primary",type="submit") Save
				br

		//upload images and videos
		div#uploadPic(class= "tab-pane")
			form#avatarForm(action="/upload_image", method="post", enctype="multipart/form-data")
				input(type="file", name="avatarImage")
				button(class="btn btn-primary",type="submit") upload

			span(class="btn btn-success fileinput-button")
				i(class="glyphicon glyphicon-plus")
				span add image
				input#fileupload(type="file",name="avatarImage" multiple)
			br
			div#progress(class="progress")
				div(class='progress-bar progress-bar-success')

			div#files(class="files")
			br

block append links
	link(rel='stylesheet', href='../css/datepicker.css')
	link(rel='stylesheet', href='../bower_components/jQuery-file-Upload-9.5.0/css/jquery.fileupload.css')

block append scripts
	script(src='../bower_components/bootstrap/dist/js/bootstrap-datepicker.js')
	<script src="../bower_components/jQuery-file-Upload-9.5.0/js/vendor/jquery.ui.widget.js"></script>

	script(src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js")
	script(src="../bower_components/jQuery-file-Upload-9.5.0/js/jquery.iframe-transport.js")
	<script src="../bower_components/jQuery-file-Upload-9.5.0/js/jquery.fileupload.js"></script>
	<script src="../bower_components/jQuery-file-Upload-9.5.0/js/jquery.fileupload-process.js"></script>
	script(src="../bower_components/jQuery-file-Upload-9.5.0/js/jquery.fileupload-image.js")
	script(src="../bower_components/jQuery-file-Upload-9.5.0/js/jquery.fileupload-validate.js")

	script.
		$('.list-group-item').on('click',function(e){
			var previous = $(this).closest(".list-group").children(".active");
			previous.removeClass('active'); // previous list-item
			$(e.target).addClass('active'); // activated list-item
		});

		$('#datapickerfield input').datepicker({
			startView: 2,
			todayBtn: "linked",
			orientation: "bottom left",
			autoclose: true
		});
	script.
		$(function () {
			'use strict';
			// Change this to the location of your server-side upload handler:
			var url = '/upload_image',
				uploadButton = $('<button/>')
					.addClass('btn btn-primary')
					.prop('disabled', true)
					.text('Processing...')
					.on('click', function () {
						var $this = $(this),
							data = $this.data();
						$this
							.off('click')
							.text('Abort')
							.on('click', function () {
								$this.remove();
								data.abort();
							});
						data.submit().always(function () {
							$this.remove();
						});
					});
			$('#fileupload').fileupload({
				url: url,
				dataType: 'json',
				autoUpload: false,
				acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
				maxFileSize: 50000000, // 5 MB
				// Enable image resizing, except for Android and Opera,
				// which actually support image resizing, but fail to
				// send Blob objects via XHR requests:
				disableImageResize: /Android(?!.*Chrome)|Opera/
					.test(window.navigator.userAgent),
				previewMaxWidth: 100,
				previewMaxHeight: 100,
				previewCrop: true
			}).on('fileuploadadd', function (e, data) {
				data.context = $('<div/>').appendTo('#files');
				$.each(data.files, function (index, file) {
					var node = $('<p/>')
							.append($('<span/>').text(file.name));
					if (!index) {
						node
							.append('<br>')
							.append(uploadButton.clone(true).data(data));
					}
					node.appendTo(data.context);
				});
			}).on('fileuploadprocessalways', function (e, data) {
				var index = data.index,
					file = data.files[index],
					node = $(data.context.children()[index]);
				if (file.preview) {
					node
						.prepend('<br>')
						.prepend(file.preview);
				}
				if (file.error) {
					node
						.append('<br>')
						.append($('<span class="text-danger"/>').text(file.error));
				}
				if (index + 1 === data.files.length) {
					data.context.find('button')
						.text('Upload')
						.prop('disabled', !!data.files.error);
				}
			}).on('fileuploadprogressall', function (e, data) {
				var progress = parseInt(data.loaded / data.total * 100, 10);
				$('#progress .progress-bar').css(
					'width',
					progress + '%'
				);
			}).on('fileuploaddone', function (e, data) {
				$.each(data.result.files, function (index, file) {
					if (file.url) {
						var link = $('<a>')
							.attr('target', '_blank')
							.prop('href', file.url);
						$(data.context.children()[index])
							.wrap(link);
					} else if (file.error) {
						var error = $('<span class="text-danger"/>').text(file.error);
						$(data.context.children()[index])
							.append('<br>')
							.append(error);
					}
				});
			}).on('fileuploadfail', function (e, data) {
				$.each(data.files, function (index, file) {
					var error = $('<span class="text-danger"/>').text('File upload failed.');
					$(data.context.children()[index])
						.append('<br>')
						.append(error);
				});
			}).prop('disabled', !$.support.fileInput)
				.parent().addClass($.support.fileInput ? undefined : 'disabled');
		});
